.container {
    border: 1px solid black;
    text-align: center;
    display: flex;
    align-items: center;
    height: 100vh;
}

.form {
    width: 50%;
    margin: 0 auto;
    border: 1px solid;
    box-shadow: 10px 10px 10px 10px blue;
    border-radius: 10px;
}

input {
    width: 70%;
    text-align: center;
    margin: 20px auto;
    border-radius: 10px;
    display: block;
}

.submitButton {
    background-color: blue;
    width: 10%;
    color: yellow;
}